<!-- <p>dashboard works!</p> -->
<!-- <app-card-spinner></app-card-spinner> -->

<div fxLayout="row wrap" fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <div fxLayout="row wrap" fxLayoutWrap="wrap">
                    <div fxFlex.gt-sm="33.3" fxFlex="100">
                        <span>DocMe Dashboard</span>
                        <span>
                            <mat-form-field appearance="fill">
                                <mat-label>All Providers</mat-label>
                                <mat-select>
                                    <mat-option value="All">All</mat-option>
                                    <mat-option value="Providers">Providers</mat-option>
                                    <mat-option value="Practicers">Practicers</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </span>
                    </div>
                    <div fxFlex.gt-sm="33.3" fxFlex="100" class="text-center">
                        <!--some content here-->
                    </div>
                    <div fxFlex.gt-sm="33.3" fxFlex="100" class="pull-right text-right">
                        June 23, 2020
                    </div>
                </div>
            </mat-card-content>
            <mat-divider></mat-divider>
        </mat-card>
    </div>
</div>

<div fxLayout="row wrap" fxLayoutWrap="wrap">
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <table #table width="100%" cellpadding="10" cellspacing="2">
                    <thead>
                        <tr>
                            <td></td>
                            <td>Last 12 Months</td>
                            <td>Last Month</td>
                            <td>Last Week</td>
                            <td>Yesterday</td>
                            <td>Today</td>
                            <td>This Week</td>
                            <td>Next Week</td>
                            <td>Next Month</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Slots Booked</td>
                            <td>
                                15
                            </td>
                            <td>
                                20
                            </td>
                            <td>
                                40
                            </td>
                            <td>
                                60
                            </td>
                            <td>
                                50
                            </td>
                            <td>
                                30
                            </td>
                            <td>
                                10
                            </td>
                            <td>
                                40
                            </td>
                        </tr>
                        <tr>
                            <td>Slots UnBooked</td>
                            <td>
                                15
                            </td>
                            <td>
                                20
                            </td>
                            <td>
                                40
                            </td>
                            <td>
                                60
                            </td>
                            <td>
                                50
                            </td>
                            <td>
                                30
                            </td>
                            <td>
                                10
                            </td>
                            <td>
                                40
                            </td>
                        </tr>
                        <tr>
                            <td>Total Slots</td>
                            <td>
                                15
                            </td>
                            <td>
                                20
                            </td>
                            <td>
                                40
                            </td>
                            <td>
                                60
                            </td>
                            <td>
                                50
                            </td>
                            <td>
                                30
                            </td>
                            <td>
                                10
                            </td>
                            <td>
                                40
                            </td>
                        </tr>
                        <tr>
                            <td>Utilization (%)</td>
                            <td>
                                15
                            </td>
                            <td>
                                20
                            </td>
                            <td>
                                40
                            </td>
                            <td>
                                60
                            </td>
                            <td>
                                50
                            </td>
                            <td>
                                30
                            </td>
                            <td>
                                10
                            </td>
                            <td>
                                40
                            </td>
                        </tr>
                    </tbody>
                </table>
            </mat-card-content>
        </mat-card>
    </div>

    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <div id="lineChart1" style="height: 370px; width: 100%; margin-left: auto; margin-right: auto;"></div>
        </mat-card>
    </div>

    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <div id="lineChart2" style="height: 370px; width: 100%; margin-left: auto; margin-right: auto;"></div>
        </mat-card>
    </div>
</div>
