.user {
    position: relative;
}

.user .photo {
    margin: 10px 0px 100px 15px;
    width: 34px;
    height: 34px;
    overflow: hidden;
    border-radius: 50%;
}

.user .photo img {
    width: 100%;
}

.user .user-info {
    margin: -127px 15px 23px 10px;
    white-space: nowrap;
    text-transform: uppercase;
    text-align: center;
}
