.sidebar-title {
    padding: 0 0 0 20px;
}

.menu-item {
    width: 100%;
    text-align: left;
    padding: 10px;
}

.list-item-text {
    padding-left: 5px;
}

.button-align {
    min-width: 45px;
    line-height: 0px;
}
