<!-- <p>side-nav works!</p> -->
<mat-nav-list>
    <div class="sidebar-title" *ngIf="isExpanded">John Doe</div>
    <div class="m-t-10">
        <mat-list-item routerLink="/dashboard" routerLinkActive="selected">
            <mat-icon mat-list-icon >account_circle</mat-icon>
            <span matLine *ngIf="isExpanded">Name</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <mat-icon mat-list-icon>inbox</mat-icon>
            <span matLine *ngIf="isExpanded">Inbox</span>
        </mat-list-item>
        <mat-list-item>
            <mat-icon mat-list-icon>star</mat-icon>
            <span matLine *ngIf="isExpanded">Starred</span>
        </mat-list-item>
        <mat-list-item>
            <mat-icon mat-list-icon>drafts</mat-icon>
            <span matLine *ngIf="isExpanded">Drafts</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <mat-icon mat-list-icon>mail</mat-icon>
            <span matLine *ngIf="isExpanded">All Mail</span>
        </mat-list-item>
        <mat-list-item>
            <mat-icon mat-list-icon>delete</mat-icon>
            <span matLine *ngIf="isExpanded">Trash</span>
        </mat-list-item>
        <mat-list-item>
            <mat-icon mat-list-icon>warning</mat-icon>
            <span matLine *ngIf="isExpanded">Spam</span>
        </mat-list-item>
    </div>
</mat-nav-list>
