.main-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.spacer {
    flex: 1 1 auto;
}

.toolbar-shade {
    z-index: 3;
}

#sidebar {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    transform: translate3d(0, 0, 0) !important;
    visibility: visible !important;
    overflow-y: auto;
    transition: 0.5s;
}

.main-content {
    margin-left: 70px;
    height: 86.1vh;
    overflow-y: auto;
}

.theme-color-change {
    position: fixed;
    top: 40%;
    right: 23px;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    cursor: pointer;
    opacity: .9;
    z-index: 998;
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.icon-rotation {
    animation: rotate 3s linear infinite;
}
