/******************
Color Blue
******************/

@include mat-core();
$blue-app-primary: mat-palette($mat-blue);
$blue-app-accent: mat-palette($mat-indigo, A200, A100, A400);
$blue-app-warn: mat-palette($mat-pink);
$blue-app-theme: mat-light-theme($blue-app-primary, $blue-app-accent, $blue-app-warn);
$themecolor: #2196f3;
$themecolor-alt: #2196f3;
$white: #fff;
$grey: #777879;
$yellow: #EEEE00;
$selected: #151414;
$hover: #cccccc;
#sidebar {
    background-color: $grey;
    color: $white;
    .mat-list-item .mat-list-icon {
        background: $yellow;
        color: $white;
    }
    .mat-list-text {
        color: $white;
    }
    .selected {
        background: $selected;
        border-radius: 10px;
    }
    .mat-nav-list .mat-list-item:hover {
        background: $hover;
        border-radius: 10px;
    }
}
footer {
    color: $white;
    background-color: $themecolor-alt;
}
