/******************
Color Dark
******************/

@include mat-core();
$dark-primary: mat-palette($mat-deep-orange);
$dark-accent:  mat-palette($mat-indigo, A200, A100, A400);
$dark-warn: mat-palette($mat-pink);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
$themecolor: #ff5722;
$themecolor-alt: #ff5722;
$white: #fff;
$grey: #777879;
$yellow: #EEEE00;
$selected: #151414;
$hover: #cccccc;
#sidebar {
    background-color: $grey;
    color: $white;
    .mat-list-item .mat-list-icon {
        background: $yellow;
        color: $white;
    }
    .mat-list-text {
        color: $white;
    }
    .selected {
        background: $selected;
        border-radius: 10px;
    }
    .mat-nav-list .mat-list-item:hover {
        background: $hover;
        border-radius: 10px;
    }
}
footer {
    color: $white;
    background-color: $themecolor-alt;
}
