/******************
Color Dark
******************/

@include mat-core();
$dark-app-primary: mat-palette($mat-deep-orange);
$dark-app-accent:  mat-palette($mat-indigo, A200, A100, A400);
$dark-app-warn: mat-palette($mat-pink);
$dark-app-theme: mat-dark-theme($dark-app-primary, $dark-app-accent, $dark-app-warn);
$themecolor: #ff5722;
$themecolor-alt: #ff5722;
$white: #fff;
$grey: #777879;
$yellow: #EEEE00;
$selected: #151414;
$hover: #cccccc;
#sidebar {
    background-color: $grey;
    color: $white;
    .mat-list-item .mat-list-icon {
        background: $yellow;
        color: $white;
    }
    .mat-list-text {
        color: $white;
    }
    .selected {
        background: $selected;
        border-radius: 10px;
    }
    .mat-nav-list .mat-list-item:hover {
        background: $hover;
        border-radius: 10px;
    }
    .submenu {
        overflow-y: hidden;
        transition: transform 300ms ease;
        transform: scaleY(0);
        transform-origin: top;
        padding-left: 20px;
    }
    .submenu.expanded {
        transform: scaleY(1);
    }
    .menu-button {
        transition: 300ms ease-in-out;
        transform: rotate(0deg);
        color: $white;
    }
    .menu-button.rotated {
        transform: rotate(180deg);
    }
}
footer {
    color: $white;
    background-color: $themecolor-alt;
}
