/******************
Color Green
******************/

@include mat-core();
$green-app-primary: mat-palette($mat-teal);
$green-app-accent: mat-palette($mat-indigo, A200, A100, A400);
$green-app-warn: mat-palette($mat-pink);
$green-app-theme: mat-light-theme($green-app-primary, $green-app-accent, $green-app-warn);
$themecolor: #009688;
$themecolor-alt: #009688;
$white: #fff;
#sidebar {
    background-color: $themecolor-alt;
    color: $white;
}
footer {
    color: $white;
    background-color: $themecolor-alt;
}
