/******************
Color Red
******************/

@include mat-core();
$red-app-primary: mat-palette($mat-red);
$red-app-accent: mat-palette($mat-indigo, A200, A100, A400);
$red-app-warn: mat-palette($mat-pink);
$red-app-theme: mat-light-theme($red-app-primary, $red-app-accent, $red-app-warn);
$themecolor: #F44336;
$themecolor-alt: #E53935;
$white: #fff;
#sidebar {
    background-color: $themecolor-alt;
    color: $white;
}
footer {
    color: $white;
    background-color: $themecolor-alt;
}
