/******************
Color Red
******************/

@include mat-core();
$red-app-primary: mat-palette($mat-red);
$red-app-accent: mat-palette($mat-indigo, A200, A100, A400);
$red-app-warn: mat-palette($mat-pink);
$red-app-theme: mat-light-theme($red-app-primary, $red-app-accent, $red-app-warn);
$themecolor: #ec0d0d;
$themecolor-alt: #ec0d0d;
@include angular-material-theme($red-app-theme);

$selected: #151414;
$hover: #cccccc;
$white: #fff;
$grey: #777879;

#sidebar {
    background-color: $grey;
    color: $white;
    .mat-list-item .mat-list-icon {
        background: $themecolor-alt;
        color: $white;
    }
    .mat-list-text {
        color: $white;
    }
    .selected {
        background: $selected;
        border-radius: 10px;
    }
    .mat-nav-list .mat-list-item:hover {
        background: $hover;
        border-radius: 10px;
    }
    .submenu {
        overflow-y: hidden;
        transition: transform 300ms ease;
        transform: scaleY(0);
        transform-origin: top;
        padding-left: 20px;
    }
    .submenu.expanded {
        transform: scaleY(1);
    }
    .menu-button {
        transition: 300ms ease-in-out;
        transform: rotate(0deg);
        color: $white;
    }
    .menu-button.rotated {
        transform: rotate(180deg);
    }
}
mat-toolbar {
    color: $white;
    background-color: $themecolor-alt;
}
footer {
    color: $white;
    background-color: $themecolor-alt;
}
